@font-face {
    font-family: "Intro";
    src: url("../fonts/Intro.otf");
}
@font-face {
    font-family: "Bender";
    src: url("../fonts/bender.otf");
}
@font-face {
    font-family: "Bender-black";
    src: url("../fonts/bender_black.otf");
}
/* --------------- базовые настройки ---------*/

*{
    margin: 0;
    padding: 0;
}
html {
    min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
    font-size: 16px;
}
body {
    font-family: 'Bender', Arial, sans-serif;
    color: black;
    text-align: left;
    font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
    min-height:100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
    /*color: black;*/
    text-decoration: none;
}
a:hover {
    /*color: red;*/
    text-decoration: none;
    /*font-weight: bold;*/
    transition: all 0.3s ease;
}
a:focus, a:active {
    /*color: black;*/
    text-decoration: none;

}
h1, h2, h3, h4, h5, h6{
    font-weight:normal;
}
img{
    max-width:100%;
}
.clr{
    clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
li, ol{
    list-style: none;
}
p{
    margin: 0;
}
select {
    cursor: pointer;
}
input[type=text], textarea {outline:none;}

/* --------------- /базовые настройки ---------*/


.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    font-family: Intro, sans-serif;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid white;
    background-image: linear-gradient(-186deg, #ffcb53 0%, #fe7c04 100%);
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button:hover,
.button:focus {
    color: #ff7d05;
    border: 2px solid #ff7d05;
    background-image: none;
    background-color: white;
    transition: top 1s ease-out 0.5s;
}
.orange-color{
    color: #ff7d05;
}
.orange-bc{
    background-color: #ff7d05;;
}
.violer-color{
    color: #933ec5;
}
.violer-bc{
    background-color: #933ec5;
}
.grey-color{
    color: #b4b4b4;
}

/*header*/
.header-1{
    background-color: black;
    color: white;
}
.header-1-wrap{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.language{
    display: flex;
    /*align-items: center;*/
}
.flag{
    margin-right: 5px;
    width: 18px;
    height: 18px;
}
.letters select{
    outline: none;
    background: none;
    border: none;
}
.login, .signup{
    padding: 0 15px;
}
.login img, .signup img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.auth, .login a, .signup a{
    display: flex;
    align-items: center;
    color: white;
}
.login a:hover, .signup a:hover{
    color: #dddddd;
}

.header-2{
    background-color: #f7f5f6;
}
.header-2-wrap{

    padding: 10px;
}
.header-2-wrap .col-lg-2{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 150px;
    margin-bottom: 20px;
}

.search{
    width: 100%;
}
.search form{
    width: 100%;
    flex-grow: 1;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.search-field{
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 10px;
    margin: 10px 0;
}
.search-button{
    margin: 10px 0;
    width: 100%;
}
.burget-wrap{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}
.burger{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
}
.burger img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hide-show{
    display: none;
}
@media all and (max-width: 1200px){
    .hide-burger{
        display: none;
    }
    .hide-show{
        display: block;
        margin-right: 15px;
    }
}
/*header*/
/*breadcrumb*/
/* Style the list */
.breadcrumbs{
    margin: 20px 0;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\003e";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #b4b4b4;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #6b6868;
    text-decoration: underline;
}
/*breadcrumb*/


/*filter*/
.filter-wrap{
    margin-top: 15px;
}
.filter{
    box-sizing: border-box;
    margin-bottom: 35px;
}
a.filter-header{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f5f6;
}
.toggle{
    margin:0 10px;
    font-size: 1.2rem;
}
.filter h4{
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 10px;
}
.checkboxes{
    margin: 5px 0;
    font-size: 16px;
}
.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 25px;
}
.label-cbx input:checked + .checkbox {
    border-color: #933ec5;
}
.label-cbx input:checked + .checkbox svg path {
    fill: #933ec5;
}
.label-cbx input:checked + .checkbox svg polyline {
    stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
}
.label-cbx .checkbox {
    position: relative;
    /*top: 2px;*/
    float: left;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid #C8CCD4;
    border-radius: 3px;
}
.label-cbx .checkbox svg {
    position: absolute;
    top: -2px;
    left: -2px;
}
.label-cbx .checkbox svg path {
    fill: none;
    stroke: #933ec5;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}
.label-cbx > span {
    pointer-events: none;
    vertical-align: middle;
}
.cntr span{
    text-transform: lowercase;
    font-weight: normal;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
div.ui-slider{
    margin: 10px 0;
    height: 5px;
    max-width: 250px;
}
.ui-slider-horizontal .ui-slider-handle{
    top: -10px;
}
span.ui-slider-handle.ui-state-default.ui-corner-all{
    border-radius: 50%;
}
span.ui-slider-handle.ui-state-default.ui-corner-all:focus, span.ui-slider-handle.ui-state-default.ui-corner-all:hover{
    background-color: #933ec5;
    border-color: #933ec5;
}
.ui-corner-all{
    outline: none;
}

.filter-date{
    background: url(../img/icon_calendar.png) no-repeat scroll 13px 13px;
    /*background-position: right;*/
    background-position-x: 85%;
    padding-left:30px;
    border: 1px solid #C8CCD4;
    max-width: 250px;
}
/*filter*/

/*search-product*/
.search-course{
    display: flex;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #eaeaea;
}
.search-course-info{
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;
}
.search-course-img{
    position: relative;
}
.favorite-img{
    display: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 2;
    border-radius: 50%;
}
.favorite-img i{
    font-size: 1.5rem;
    color: red;
}
.search-course-img img{
    min-width: 225px;
}
.search-course-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.search-course-header h4{
    flex-basis: 250px;
    flex-grow: 1;
    margin: 0;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 10px;
}
.search-course-header h4 a{
    color: black;
}
.search-course-header span{
    color: #ff7d05;
    font-style: italic;
    margin: 0 10px;
}
.favorite{
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.favorite i{
    color: red;
    padding-top: 3px;
    margin-right: 15px;
}
.favorite p{
    white-space: nowrap;
    color: #999999;
}
.search-course-middle{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-course-date{
    display: flex;
    flex-wrap: nowrap;
}
.search-course-date p{
    margin-right: 12px;
    color: #999999;
    white-space: nowrap;
}
.label-value{
    color: #999999;
    font-size: 1rem;
    padding-top: 3px;
}
.search-course-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.search-course-footer-left{
    display: flex;
    flex-wrap: wrap;
}
.search-course-footer-left p{
    padding-right: 10px;
}
.master-class, .search-course-footer-city{
    color: #999999;
    white-space: nowrap;
}
.sits{
    white-space: nowrap;
}
.price{
    flex-shrink: 2;
    font-size: 1.2rem;
    font-weight: bold;
}
@media all and (max-width: 1199px){
    .favorite{
        justify-content: flex-start;
        margin-top: 10px;
    }
}
@media all and (max-width: 743px){
    .search-course-middle{
        display: none;
    }
}
@media all and (max-width: 615px){
    .favorite{
        display: none;
    }
    .search-course{
        flex-wrap: wrap;
    }
    .search-course-img{
        width: 100%;
        margin-bottom: 15px;
    }
    .search-course-img img{
        width: 100%;
    }
    .search-course-middle{
        margin: 15px 0;
    }
    .favorite{
        margin-top: 10px;
    }
    .search-course-info{
        padding: 0;
    }
    .favorite-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media all and (max-width: 504px){
    .favorite{
        margin-top: 10px;
    }
}
@media all and (max-width: 450px){
    .price{
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }
    .favorite-img{
        bottom: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
    .favorite-img i{
        font-size: 1rem;
    }
}

/*search-product*/

/*footer*/
footer{
    background-color: #191919;

}
.footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
.footer-logo-img, .footer-nav, .footer-links{
    margin: 15px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo-img{
    width: 160px;
}
.footer-logo-text{
    font-size: 1rem;
    padding-top: 10px;
    color: white;
}
.footer-nav{
    font-size: 1.2rem;
    text-transform: uppercase;
    height: 100%;
    flex-grow: 1;
    flex-basis: 600px;
}
div.footer-nav a{
    color: white;
}
.footer-nav ul{
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-links-email{
    text-align: center;
    font-size: 1rem;
    color: white;
    padding-bottom: 10px;
}
.footer-links-socs{
    display: flex;
    justify-content: space-around;
}
@media all and (max-width: 1200px){
    .footer-logo, .footer-nav, .footer-links{
        width: 100%;
    }
    .footer-links-socs{
        justify-content: center;
    }
    .footer-links-socs a{
        margin: 10px;
    }
}
@media all and (max-width: 600px){
    .footer-nav ul{
        flex-direction: column;
        justify-content: space-around;
    }
}
/*footer*/
